---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@font-face {
    font-family: 'MONARCHIA';
    src: url('/assets/fonts/MONARCHIA.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Put custom CSS below */

$dropcap: ".archive > p:first-of-type::first-letter";

.archive__item-title.no_toc > a{
  color:red;
}

a{
  color:red;
}

.layout--posts_dropcaps {
    #{$dropcap} {
        font-family: "MONARCHIA", serif;
        font-size: 8rem;
        float: left;
        line-height: 1;
        margin-right: 0.05em;
    }
    #{$dropcap}:before,
    #{$dropcap}:after {
      content: "";
      display: block;
    }
    #{$dropcap}:before {
      margin-bottom: -0.175em;
    }
    #{$dropcap}:after {
      margin-top: -0.05em;
  }
}



